<html>
    <head>
        {% if title %}
            <title>Loretrack - {{ title }}</title>
        {% else %}
            <title>Loretrack</title>
        {% endif %}
        <link href="{{ url_for('static', filename='css/topcoat-desktop-dark.css') }}" rel="stylesheet" type="text/css" media="all">
        <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
    </head>
    <body>
        {% if title %}
            <h2 class="title">{{ title }}</h2>
        {% else %}
            <h2 class="title">Loretrack</h2>
        {% endif %}
        <hr>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                        <div class="alert{% if category == 'red' %} alert_red{% elif category == 'green' %} alert_green{% else %} alert_blue{% endif %}">
                            {{ message }}
                            <div style="float: right; width 10px; padding: 0;">
                                <span id="close" onclick="this.parentNode.parentNode.parentNode.removeChild(this.parentNode.parentNode); return false;" style="padding-left: 10px; font-weight: normal; cursor: pointer">&#10006;</span>
                            </div>
                        </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        {% block content %}
        {% endblock %}
        </br>
    </body>
</html>
