<html>
    <head>
        {% if title %}
            <title>Loretrack - {{ title }}</title>
        {% else %}
            <title>Loretrack</title>
        {% endif %}
        <link href="{{ url_for('static', filename='css/bootstrap.css') }}" rel="stylesheet" type="text/css" media="all">
        <link href="{{ url_for('static', filename='css/bootstrap-override.css') }}" rel="stylesheet" type="text/css" media="all">
        <link href="{{ url_for('static', filename='css/selectize.dark.css') }}" rel="stylesheet" type="text/css" media="all">
        <link href="{{ url_for('static', filename='css/chosen.min.css') }}" rel="stylesheet" type="text/css" media="all">
        <link href="{{ url_for('static', filename='css/chosen-dark.css') }}" rel="stylesheet" type="text/css" media="all">
        <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
        <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/selectize.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/chosen.jquery.min.js') }}"></script>
    </head>
    <body>
        <nav id="navbar" class="navbar navbar-expand-lg navbar-dark bg-primary">
          <a class="navbar-brand" href="#">Loretrack</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarColor02">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#" onclick="load_encounter_creator();">Encounters</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" onclick="load_monsters();">Monsters</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Characters</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Locations</a>
                </li>
            </ul>
            <label>Campaign</label>
            <div name="campaign_picker" id="campaign_picker" class="my-2 my-lg-0">
                <select id='campaign_picker_select' class='custom-select'></select>
            </div>
          </div>
        </nav>

        <div class="container" id="content" >
            Home
        </div>

        <script>
            function my_alert(message, color, title_text){
                var existing_messages = document.getElementsByClassName("span_alert_" + color);
                for (i = 0; i < existing_messages.length; i++) {
                    if (message == existing_messages[i].innerHTML)
                        return;
                }
                var alert_div = document.createElement("DIV");
                alert_div.className = "alert alert-dismissible";
                if (color == 'green'){
                    alert_div.className = alert_div.className + " alert-success";
                } else {
                    alert_div.className = alert_div.className + " alert-danger";
                }
                alert_div.id = 'alert';
                alert_div.style.cssText = "width: 80%; margin:0 auto;"
                var close_button = document.createElement("BUTTON");
                close_button.className = "close";
                close_button.setAttribute( "data-dismiss", "alert" );
                close_button.innerHTML = "&times;";
                alert_div.appendChild(close_button);
                if (title_text != '' & title_text != null){
                    var title = document.createElement("STRONG");
                    title.innerHTML = title_text;
                    alert_div.appendChild(title);
                    var newline = document.createElement("BR");
                    alert_div.appendChild(newline);
                }
                var span = document.createElement("SPAN");
                span.innerHTML = message;
                span.className = "span_alert_" + color;
                alert_div.appendChild(span);
                document.getElementById('navbar').after(alert_div);
            }

            function get_campaign_id() {
                return document.getElementById('campaign_picker_select').value;
            }

            $.ajax({
                url: "/campaign/api/v1.0/get_all",
                type: 'GET',
                dataType: "json",
                success: function(res) {
                    for (i = 0; i < res.length; i++) {
                        $('#campaign_picker_select').append(
                            $("<option></option>")
                                .text(res[i].name)
                                .val(res[i].c_id)
                        );
                    }
                }
            });

            function loadScript(url, callback){
                var script = document.createElement("script")
                script.type = "text/javascript";
                script.onload = function(){
                    callback();
                };

                script.src = url;
                document.getElementsByTagName("head")[0].appendChild(script);
            }

            var loaded = "";

            function load_encounter_creator(){
                if (loaded == "load_encounter_creator") {
                    return;
                }

                loadScript("{{ url_for('static', filename='js/pages/create_encounter.js') }}", function(){
                    init_encounter_creator();
                    loaded = "load_encounter_creator";
                });
            }

            function load_monsters(){
                document.getElementById("content").innerHTML = `
                    <p></p>
                    <h3></h3>
                    <select data-placeholder="Choose a monster..." id="select_monster" tabindex="1">
                    </select>
                `;

                $.ajax({
                    url: "/monster/api/v1.0/get_all",
                    type: 'GET',
                    dataType: "json",
                    success: function (res) {
                        $.each(res.Data, function(index, monster) {
                             $('#select_monster')
                                 .append($("<option></option>")
                                            .attr("value",monster.m_id)
                                            .text(monster.name));
                        });
                        $("#select_monster").chosen();
                        $("#select_monster").on('change', function(evt, params) {
                            console.log(params.selected);
                        });
                    },
                    error: function() {
                        my_alert(msg.responseJSON.Response, 'red', 'Oh no!');
                    }
                });
            }
            load_monsters();
        </script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    </body>
</html>
