<html>
    <head>
        <title>Loretrack</title>
        <link href="{{ url_for('static', filename='css/topcoat-desktop-dark.css') }}" rel="stylesheet" type="text/css">
    </head>
    <body>
        <h1 class="title">
            Loretrack
        </h1>
        <h2 class="title">
            {{ location.location_name }}
        </h2>
        <table>
            {% for field, value in location.info.items() | sort() %}
                    <tr>
                        <td>
                            <span style="font-weight:bold">{{ field }}</span>
                        </td>
                        <td>
                            {% if field == 'Sublocations' %}
                                <span>{{ value }}</span>
                            {% elif value is iterable and value is not string and value | count > 0 %}
                                <span>{{ value | join(', ') }}</span>.
                            {% else %}
                                <span>{{ value }}</span>
                            {% endif %}
                        </td>
                    </tr>
            {% endfor %}
        </table>
        </div>
    </body>
</html>
